<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Form Variants</title>
</head>

<body>
	<h1>From Profil</h1>
	<form th:action="@{/variants/save}" method="post" th:object="${variants}">
		<input type="hidden" th:field="*{id}">
		<table border="1">
			<tr>
				<td>Category Name</td>
				<td><select th:field="*{categoryId}">
				<option th:each="item:${listCategory}" th:text="${item.categoryName}"
				th:value="${item.id}"></option> 
				</select></td>
			</tr>
			<tr>
				<td>Variants Initial</td>
				<td><input type="text" name="variantsinitial" th:field="*{variantsInitial}"></td>
			</tr>
			<tr>
				<td>Variants Name</td>
				<td><input type="text" name="variantsname" th:field="*{variantsName}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="isactive" th:field="*{isActive}"></td>
			</tr>
			
			<tr>
				<center>
					<td colspan="2"><input type="submit" value="Save"></td>
				</center>
			</tr>
		</table>
	</form>
</body>

</html>