<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<title>Variants Page</title>
</head>

<body>
	<h1> Variants List</h>
		<br>
		<button onClick="window.location.href='/variants/addform'">Create New</button>
		<br>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>Category</td>
					<th>Initial</th>
					<th>Variants Name</th>
					<th>Active</th>
					<th colspan="2"> Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${listVariants}">
					<td th:text="${item.category.categoryName}"></td>
					<td th:text="${item.variantsInitial}"></td>
					<td th:text="${item.variantsName}"></td>
					<td><input type="checkbox" disabled name="isactive" th:checked="${item.isActive}"></td>
					<td><a th:href="@{/variants/edit/{id}(id=${item.id})}">Edit</a></td>
					<td><a th:href="@{/variants/delete/{id}(id=${item.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
</body>

</html>